h1{
    font-family: Georgia;
    font-size: xx-large;
    font-weight: bold;
    text-transform: uppercase;
    color: blue;
    text-align: center;
    text-shadow: 10px 5px 2px red;
    word-spacing: 30px;
    letter-spacing: 8px;

}

.credit{
    font-family: Arial;
    font-size: 80%;
    font-weight: normal;
    font-style: italic;
    text-decoration: underline;
    text-transform: capitalize;
}

.linkbuku{
    font-family: verdana;
    font-size: 15px;
    font-style: italic;
    text-decoration: none;
    text-transform: lowercase;
}

.linkbuku:hover{
    color: red;
}

.linkbuku:active{
    color: greenyellow;
}

.linkbuku:visited{
    color: brown;
}

.penjelasan{
    font-family: Times;
    font-size: 1.5em;
}